<!-- Edit -->
<div ng-show="!isZoom">
	<form class="form-horizontal">
		<fieldset>
			<legend>Edit</legend>
			<!--Ne radi ako nije ng-repeat iz nekog razloga-->
			<div ng-repeat="e in entry">
				<content-items ng-model="e" meta="meta" submit="submit(e)" showRef="showRef(e)"></content-items>
			</div>
		</fieldset>
	</form>

	<div class="alert alert-success" role="alert" ng-show="success" >
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		<b>Uspeh!</b> {{response}}
	</div>
	<div class="alert alert-danger" role="alert" ng-show="error">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<b>Greška!</b> {{response}}
	</div>
</div>

<!-- Referencirani tip -->
<div ng-show="isRef">
	<p ng-repeat="metaItem in refMeta">
		<b>{{metaItem.name}}:</b> {{refEntry[metaItem.name]}}
	</p>
</div>

<!-- Zoom tabela -->
<div ng-show="isZoom" ng-include="table.html">
</div>