<!--Polja su opisana u $scope.meta, a sami podaci su u $scope.data-->
<div class = "row">
	<div>

		<div class="col-xs-8 ">
			<div class="input-group">
				<div class="input-group-btn search-panel">
					<button type="button" class="btn btn-default">
						<select ng-model="searchParams.field" ng-options="field.name for field in meta">
							<option></option>
						</select>
					</button>
				</div>
				<input type="hidden" name="search_param" value="" id="search_param">         
				<input type="text" class="form-control" placeholder="Pretraga..." ng-model="searchParams.term">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="search()">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>
<div class = "row">
	<div ng-include="'views/table.html'"></div>
</div>
<div class = "row">
	<button class = "btn btn-success" ng-click="newEntry()"><i class="glyphicon glyphicon-plus" ></i> Novi</button>
</div>