<div ng-controller="ItemsCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th ng-click="order('zaglavlje.id')">
								Redni broj
								<span ng-show="predicate === 'zaglavlje.id'" class="{{ cssClass }}"></span>
							</th>
							<th ng-click="order('zaglavlje.iznosZaUplatu')">
								Naziv usluge
								<span ng-show="predicate === 'zaglavlje.iznosZaUplatu'" class="{{ cssClass }}"></span>
							</th>
							<th ng-click="order('zaglavlje.iznosZaUplatu')">
								Tip
								<span ng-show="predicate === 'zaglavlje.iznosZaUplatu'" class="{{ cssClass }}"></span>
							</th>
							<th ng-click="order('zaglavlje.datumRacuna')">
								Kolicina
								<span ng-show="predicate === 'zaglavlje.datumRacuna'" class="{{ cssClass }}"></span>
							</th>
							<th>
								Brisanje
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-click="go('/item',item.redniBroj)" ng-repeat="item in items"> <!--| orderBy:predicate:reverse-->
							<td>
								{{ item.redniBroj }}
							</td>
							<td>
								{{ item.naziv }}
							</td>
							<td>
								{{ item.tip }}
							</td>
							<td>
								{{ item.kolicina }}
							</td>
							<td ng-click="remove(item.redniBroj)" stop-event='click'>
								<span class="glyphicon glyphicon-remove"></span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-sm-offset-4 col-sm-10">
							 
					<button type="button" ng-click="goCreateItem('/createItem')" class="btn btn-primary">
						Dodaj stavku
					</button>
				</div>
				
			</div>
		</div>
	</div>
</div>
