<div ng-controller="ItemCtrl">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>Stavka {{ item.redniBroj }}</h2>

				<p>Naziv usluge: {{item.nazivUsluge}}</p>
				<p>Kolicina: {{item.kolicina}}</p>
				<p>Jedinica mere: {{item.jedinicaMere}}</p>
				<p>Jedinicna cena: {{item.jedinicnaCena}}</p>
				<p>Vrednost: {{item.vrednost}}</p>
				<p>Procenat rabata {{item.procenatRabata}}</p>
				<p>Iznos rabata: {{item.iznosRabata}}</p>
				<p>Umanjeno za rabat: {{item.umanjenoZarabat}}</p>
				<p>Ukupan porez: {{item.ukupanPorez}}</p>
			</div>
		</div>
	</div>
</div>
</div>